<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some website</title>
</head>
<body>
  {{> header}}
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos odit,
  delectus quia sint laudantium, eius architecto sit labore rerum,
  incidunt suscipit pariatur fuga vel distinctio minus omnis. Dolorum, dolore.
</p>

{{> footer}}
</body>
</html>
